@import url("https://assets.soracom.io/fonts/aeonik/Aeonik.css");

:root {
  font-feature-settings: "ss02", "ss08";
  font-family: Aeonik, "Source Han Sans JP", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}
